/**
 * This stylesheet contains rules for the game mode gui
 */

/* Single player mode vs multiple players */
#game-screen .single-player-visible {
    display: auto;
}

#game-screen .single-player-hidden {
    display: none !important;
}

/* The exit button in game mode */
#game-screen-close {
    width: 20px;
    height: 20px;
    text-align:center;
    color:white;
    background:red;
    border-radius:0px 0px 0px 10px;
    position:absolute;
    right:0px;
    top:0px;
    z-index:100;
    cursor:pointer;
}

/*
 * Game setup screen -- The first rule
 * also contains a rule for the game-question-screen
 */
#game-setup, #game-question-screen {
    width:95%;
    height: calc(95% - 160px);
    padding: 0.5%;
    top: 2%;
    left: 2%;
    position:fixed;
    background: #cecece;
    border-radius:10px;
    border: 1px solid grey;
    z-index: 10;
}

#game-setup-add-player-button, #game-setup-add-player-button + input {
    display: block;
    padding: 5px;
    height: 20px;
    border-radius: 5px;
}

#game-setup-add-player-button {
    float: right;
    width: 100px;
    text-align: center;
    background: rgba(0,128,255,0.2);
    cursor: pointer;
}

#game-setup-add-player-button:hover {
    background: rgba(0,128,255,0.5);
}

#game-setup-add-player-button + input{
    margin-right: 100px;
    width: calc(100% - 100px - 10px - 15px);
    border: 0px;
}

#player-list {
    width: calc(100% - 10px);
    text-align: center;
    border-radius: 5px;
    margin: 5px 0px;
    background: #ececec;
    max-height: calc(100% - 10px - 10px - 30px - 30px);
    overflow: auto;
    padding: 5px;
}

#player-list > span {
    padding: 5px 0px;
    height: 20px;
    display:block;
}

#player-list > span:not(:last-child) {
    border-bottom: 1px solid #b3b3b3;
}

#game-setup-done-button {
    width: 100%;
    height: 20px;
    padding: 5px 0px;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    cursor: pointer;
}

#game-setup-done-button:hover {
    background: rgba(0, 255, 0, 0.5);
}

/* Game table */
#game-table {
    width:100%;
    height:calc(100% - 160px);
    background: #ececec;
    overflow:auto;
}

#game-table > table {
    height:100%;
    margin: 0px auto;
    position:relative;
    right:0px;
    top:0px;
    background:inherit;
    table-layout: fixed;
}

#game-table th {
    min-width:200px;
    height: 50px;
    border-bottom: solid black 1px;
}

#game-table td {
    min-width:200px;
    text-align: center;
    font-size: 24pt;
    display:table-cell;
}

#game-table td:hover {
    color: #0080FF;
}

#game-table .marked-q {
    color: #cecece;
}

/* Game question screen */
#game-question-screen > div {
    width: 100%;
}

#game-q-label {
    text-align: center;
    border-bottom: solid 1px black;
    font-size: 24pt;
}

.game-qa-div {
    margin: 30px 0px;
    text-align: center;
    font-size: 18pt;
}

#game-a {
    color: red;
}

#game-answer-box {
    margin: 0px auto;
    padding: 5px;
    width: 75%;
    height; 20px;
    border-radius: 5px;
    background: rgba(255,255,255,0.3);
    display:block;
}

#game-answer-box:hover {
    background: rgba(255,255,255,0.5);
}

#game-screen .game-q-buttonset {
    text-align: center;
    margin: 20px 0px;
    font-size: 12pt;
}

#game-screen .game-q-button {
    width: 75px;
    height: 20px;
    padding: 15px 0px;
    margin: 0px 10px;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
    background: rgba(255,255,255,0.5);
}

#game-q-check:hover {
    background: rgba(255,255,255,0.7);
}

#game-q-close:hover {
    background:pink;
    color: red;
}

#game-q-answer:hover {
    background:lightgreen;
    color: green;
}

/* Player scores list */
#scores {
    width: 100%;
    height: 150px;
    background: #cecece;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 5px 0px;
}

#scores > div {
    display: table;
    width: 100%;
    height:100%;
}

#scores .player {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 24pt;
    padding: 0px 10px;
    min-width: 200px;
}

#scores .player:not(:last-child) {
    border-right: 1px #b3b3b3 solid;
}

.player-name {
    font-size: 18pt;
    color: rgb(87, 87, 87);
}

.player-score {
    margin: 10px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    color: #333;
    font-size: 24pt;
}

.correct-button, .incorrect-button {
    display: inline-block;
    width: 50px;
    height: 35px;
    padding: 7.5px 0px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 24pt;
}

.correct-button {
    background: lightgreen;
    color: green;
    margin-right: 10px;
}

.incorrect-button {
    background: pink;
    color: red;
}
