/**
 * This stylesheet contains rules for all elements on the page
 */

/* Disallow text selection outside the appropriate controls */
* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

html, body {
    margin:0px;
    padding:0px;
    height:100%;
    width:100%;
    cursor:default;
    user-select: none;
    font-family: sans-serif;
    font-size: 12pt
}

#editor, #game-screen {
    width:100%;
    height:100%;
    margin:0px;
    padding:0px;
    overflow:hidden;
}

/* Allow text selection in the appropriate controls */
textarea, input[type=text], input[type=number] {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
